::selection {
  background-color: rgb(var(--theme-accent));
  color: hsl(var(--theme-accent-accessible-color));
}

:root {
  --font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --font-size: 16px;
  }
}

html {
  font-size: var(--font-size);
}

body {
  font-size: 1rem;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: stretch;
}

html,
body {
  transition: background-color var(--layout-transition-extra-fast);
}

html.is-theme-style-dark,
.is-theme-style-dark body,
html.is-theme-style-light,
.is-theme-style-light body {
  background-color: hsl(var(--theme-primary-200));
  color: hsl(var(--theme-primary-text-200));
}

@media (prefers-color-scheme: light) {

  html.is-theme-style-system,
  .is-theme-style-system body {
    background-color: hsl(var(--theme-primary-200));
    color: hsl(var(--theme-primary-text-200));
  }
}

@media (prefers-color-scheme: dark) {

  html.is-theme-style-system,
  .is-theme-style-system body {
    background-color: hsl(var(--theme-primary-200));
    color: hsl(var(--theme-primary-text-200));
  }
}
