:root {
  --theme-accent-preset-preview-size: 1.5em;
}

.theme-accent-preset {
  display: grid;
  grid-gap: calc(var(--form-space) / 2);
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  justify-items: center;
}

.theme-accent-preset-button {
  background-color: hsl(var(--theme-accent-preset-button-color-hsl-h), calc(var(--theme-accent-preset-button-color-hsl-s) * 1%), calc(var(--theme-accent-preset-button-color-hsl-l) * 1%));
  padding: 0;
  width: var(--theme-accent-preset-preview-size);
  height: var(--theme-accent-preset-preview-size);
  min-width: initial;
  min-height: initial;
  overflow: hidden;
}

.theme-accent-preset-preview {
  background-color: hsl(var(--theme-accent-preset-color-hsl-h), calc(var(--theme-accent-preset-color-hsl-s) * 1%), calc(var(--theme-accent-preset-color-hsl-l) * 1%));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.theme-accent-preset-type-grey {
  display: block;
}

.theme-accent-preset-type-primary {
  display: block;
}

.theme-accent-preset-type-secondary {
  display: none;
}

.theme-accent-preset-button:focus,
.theme-accent-preset-button:hover,
.theme-accent-preset-button:active {
  background-color: hsl(var(--theme-accent-preset-button-color-hsl-h), calc(var(--theme-accent-preset-button-color-hsl-s) * 1%), calc(var(--theme-accent-preset-button-color-hsl-l) * 1%));
}

@media (min-width: 550px) {
  :root {
    --theme-accent-preset-preview-size: 1.25em;
  }

  .theme-accent-preset-type-secondary {
    display: block;
  }
}

@media (min-width: 700px) {
  :root {
    --theme-accent-preset-preview-size: 1.5em;
  }

  .theme-accent-preset-type-secondary {
    display: none;
  }
}

@media (min-width: 900px) {
  :root {
    --theme-accent-preset-preview-size: 1.25em;
  }

  .theme-accent-preset-type-secondary {
    display: block;
  }
}

@media (min-width: 1100px) {
  :root {
    --theme-accent-preset-preview-size: 1.5em;
  }

  .theme-accent-preset-type-secondary {
    display: block;
  }
}
