:root {
  --form-input-background: var(--theme-primary-200);
  --form-input-background-hover: var(--theme-primary-200);
  --form-input-background-focus-active: var(--theme-primary-100);
  --form-input-background-disabled: var(--theme-primary-100);
  --form-input-text: var(--theme-primary-text-200);
  --form-input-text-hover: var(--theme-primary-text-200);
  --form-input-text-focus-active: var(--theme-primary-text-400);
  --form-input-text-disabled: var(--theme-primary-300);
}

:root {
  --form-icon: var(--theme-primary-400);
  --form-icon-hover: var(--theme-primary-300);
  --form-icon-focus: var(--theme-primary-300);
  --form-icon-active: var(--theme-primary-text-100);
  --form-icon-checked: var(--theme-primary-text-100);
  --form-icon-disabled: var(--theme-primary-300);
  --form-icon-symbol: var(--theme-primary-100);
  --form-icon-symbol-active: var(--theme-primary-100);
  --form-icon-symbol-disabled: var(--theme-primary-100);
}

:root {
  --form-thumb-size: 1.25em;
}
