:root {
  --layout-size: 1;
  --layout-line-width: 0.2em;
  --layout-duration-01: 0.1s;
  --layout-duration-02: 0.2s;
  --layout-duration-03: 0.3s;
  --layout-duration-04: 0.4s;
  --layout-duration-05: 0.5s;
  --layout-duration-06: 0.6s;
  --layout-duration-07: 0.7s;
  --layout-duration-08: 0.8s;
  --layout-duration-09: 0.9s;
  --layout-duration-10: 1s;
  --layout-timing-ease: ease-in-out;
  --layout-timing-bounce: cubic-bezier(0.8, 0.8, 0.4, 1.4);
  --layout-transition-extra-fast: var(--layout-duration-02) var(--layout-timing-ease);
  --layout-transition-fast: var(--layout-duration-04) var(--layout-timing-ease);
  --layout-transition-medium: var(--layout-duration-06) var(--layout-timing-ease);
  --layout-transition-slow: var(--layout-duration-08) var(--layout-timing-ease);
  --layout-transition-extra-slow: var(--layout-duration-10) var(--layout-timing-ease);
  --layout-horizontal-rule-small: 1px solid rgb(var(--theme-color-02));
  --layout-horizontal-rule-large: 2px solid rgb(var(--theme-color-02));
}

.layout-wrap {
  z-index: var(--z-index-layout);
}

.layout-area {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: calc(var(--grid-gap) * 0.01em);
}

.is-presentation-mode .layout-area {
  grid-gap: calc(var(--grid-gap) * 0.02em);
  grid-template-columns: auto auto;
  align-items: stretch;
}

.is-presentation-mode .presentation-name-wrap {
  margin-top: calc(-1 * calc(var(--grid-gap) * 0.01em));
  margin-bottom: calc(-1 * calc(var(--grid-gap) * 0.01em));
}

.is-presentation-mode .presentation-name {
  margin-bottom: 0;
  color: rgb(var(--theme-color-01));
  font-size: calc(var(--grid-size) * 0.04rem);
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 calc(var(--bookmark-shadow-distance) * 0.0025em) calc(var(--bookmark-shadow-blur) * 0.01em) rgba(0, 0, 0, calc(var(--theme-bookmark-shadow-opacity) / 100));
}
