.toolbar {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: var(--z-index-toolbar);
}

.toolbar-button {
  padding: 1em;
}

.is-presentation-mode .toolbar {
  opacity: 0;
}

.is-presentation-mode .toolbar:hover {
  opacity: 1;
}
