.logo {
  transform: scale(1) rotate(0deg);
  transition: transform var(--layout-transition-extra-fast);
}

.logo:hover {
  transform: scale(1.2) rotate(180deg);
}

.logo:active {
  transform: scale(1.4) rotate(180deg);
}

.logo,
.logo-hexagon,
.logo-circle,
.logo-cross-x,
.logo-cross-y {
  transform-origin: center;
}

.logo {
  animation-name: spin-down;
  animation-duration: 0.3s;
  animation-timing-function: var(--layout-timing-bounce);
  animation-iteration-count: 1;
  animation-delay: 1.6s;
  animation-fill-mode: backwards;
}

.logo-hexagon {
  animation-name: grow;
  animation-duration: 0.3s;
  animation-timing-function: var(--layout-timing-ease);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo-circle {
  animation-name: grow;
  animation-duration: 0.4s;
  animation-timing-function: var(--layout-timing-bounce);
  animation-iteration-count: 1;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.logo-cross-x {
  animation-name: slide-in-x, spin;
  animation-duration: 0.3s, 0.5s;
  animation-timing-function: var(--layout-timing-bounce), var(--layout-timing-ease);
  animation-iteration-count: 1, 1;
  animation-delay: 0.8s, 1.8s;
  animation-fill-mode: backwards, forwards;
}

.logo-cross-y {
  animation-name: slide-in-y, spin;
  animation-duration: 0.3s, 0.5s;
  animation-timing-function: var(--layout-timing-bounce), var(--layout-timing-ease);
  animation-iteration-count: 1, 1;
  animation-delay: 1s, 1.8s;
  animation-fill-mode: backwards, forwards;
}

.logo-fill-solid {
  fill: hsl(var(--theme-primary-900));
}

.logo-fill-clear {
  fill: hsl(var(--theme-primary-100));
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-y {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-x {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin-down {
  0% {
    transform: scale(1.2) rotate(-90deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0);
  }
}
