:root {
  --toolbar-position-offset: 1.25em;
}

.toolbar {
  display: flex;
  position: fixed;
  z-index: var(--z-index-toolbar);
}

.is-toolbar-position-top-left .toolbar {
  top: var(--toolbar-position-offset);
  left: var(--toolbar-position-offset);
}

.is-toolbar-position-top-right .toolbar {
  top: var(--toolbar-position-offset);
  right: var(--toolbar-position-offset);
}

.is-toolbar-position-bottom-left .toolbar {
  bottom: var(--toolbar-position-offset);
  left: var(--toolbar-position-offset);
}

.is-toolbar-position-bottom-right .toolbar {
  bottom: var(--toolbar-position-offset);
  right: var(--toolbar-position-offset);
}

.toolbar-control {
  display: flex;
  transition: opacity var(--layout-transition-extra-fast);
}

.toolbar-item {
  padding: 0;
  width: 3.5em;
  min-width: initial;
}

.is-theme-background-type-accent.is-toolbar-style-transparent .toolbar-item input[type="color"] {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--button-link-text));
  transition: border var(--layout-transition-extra-fast);
}

.is-presentation-mode .toolbar {
  opacity: 0;
}

.is-presentation-mode .toolbar:hover {
  opacity: 1;
}
