.auto-suggest {
  position: relative;
  z-index: 1;
  font-size: 1em;
}

.auto-suggest {
  background-color: hsl(var(--theme-primary-200));
  margin-top: 0.5em;
  padding: 1em;
  position: absolute;
  top: calc(var(--auto-suggest-top) * 1px);
  left: calc(var(--auto-suggest-left) * 1px);
  width: calc(var(--auto-suggest-width) * 1px);
  max-height: 40vh;
  border-radius: var(--theme-radius-base);
  overflow-y: auto;
  z-index: var(--z-index-auto-suggest);
  box-shadow: var(--theme-shadow-bottom-large);
  opacity: 0;
  transition: opacity var(--layout-transition-extra-fast);
}

.auto-suggest-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  grid-gap: calc(var(--form-wrap-space) / 2);
}

.auto-suggest-item {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  min-height: 6em;
  display: flex;
  position: relative;
  white-space: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color var(--layout-transition-extra-fast), color var(--layout-transition-extra-fast), border-color var(--layout-transition-extra-fast), box-shadow var(--layout-transition-extra-fast);
}

.auto-suggest-icon {
  font-size: 2em;
}

.auto-suggest-icon-text {
  margin-top: 1em;
  font-size: 0.6em;
  text-align: center;
  line-height: 1.6;
}
